*{
    margin: 10px;
    padding: 0;
    font-family: Poppins,sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.light{
    color: #bdbdbd;
    font-weight: 200;
    font-size: 3rem;
}
.center-heading{
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
.navs a{
    padding-right: 20px;
    text-decoration: none;
    font-weight: 30px;
    color: black;
}
.gallery h1{
    padding-top: 20px;
    
    padding-bottom: 30px;
}
.gallery span{
    color: gray;
    
}

.images{
   padding-top: 20px;
   display: grid;
   grid-template-columns: auto auto auto auto auto;
   grid-column-gap: 30px;
  
}
.item{
    padding-bottom: 30px;
   
}

.container{
    display: flex;
    background-color: #fbfbfb;
}

.left{
    width: 30%;
}

.right{
    width: 70%;
    display: flex;
    align-items: center;
}
.buildingbottom{
    left: 30px; 
    top: 50px;
    left: 120px;
}
.buildingtop{
    left: 50px;
}
.description{
   align-items: center; 
   justify-content: center;
   font-size: 20px;
}
.butt{
    width: 150px;
    height: 40px;
}

 .second-desc{
    padding-top: 100px;
    display: flex;
    
 }

.left1{
    display: flex;
    align-items: center;
    width: 50%;
   
}
.right1{
    display: flex;
    align-items: center;
    width: 30%;
} 
.a{
    color: #f2f2f2;
    font-size: 6rem;
}
.b{
    color: #f2f2f2;
    font-size: 6rem;
}
.contact-container{
display: flex;
    width: 95%;
    margin: 2rem auto;
    gap: 5rem;
}
.contact .heading h1 {
    color: #8d8d8d;
    font-size: 4rem;
    font-weight: 400;
    margin: 1rem 0rem;
}
.contact .contact-container {
    display: flex;
    width: 95%;
    margin: 2rem auto;
    gap: 5rem;
}
 .contact .contact-container .form input {
    width: 100%;
    padding: 10px 20px;
    background-color: #f3f3f3;
    border: 0;
}
.contact .contact-container .form textarea {
    width: 100%;
    padding: 1rem;
    resize: none;
    background-color: #f3f3f3;
}
.contact .contact-container .form .terms-condition {
    display: flex;
}
.contact .contact-container button{
    width: 100px;
    height: 50px;
}
#checkbox{
    width: 30px;
}
footer {
    display: flex;
    align-items: center;
    background-color: #000;
    padding: 2rem 2rem;
    color: #fff;
    justify-content: space-between;
}
footer .information {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
footer .information a {
    text-decoration: none;
    color: #fff;
}
footer .contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
footer .location {
    display: flex;
    gap: 2rem;
    align-items: center;
}
footer .social-info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.logo{
    background-color: white;
}